html
    head
        title Driver Setup 
    body    
        form(action='', method='POST')
            div
                label(for="name") Name:
                input(name="name")
            br
            div
                label(for="phone_number") Phone Number:
                input(name="phone_number")
            br
            button(type="submit") Add Driver to DB
